@model os.Models.SpeakerModel
@{
    ViewData["Title"] = "Add Speaker";
    string? statusMessage = ViewBag.StatusMessage;
}
<div class="edit-container-row">
    <div class="edit-container-column">
        <div class="text-center">
            <img src="~/img/speaker.svg" style="min-height: 100px;" />
        </div>
        <div>
            <center><h1>Add Speaker</h1></center>
        </div>
        @if (!string.IsNullOrEmpty(statusMessage))
        {
            <div class="alert alert-info">
                @statusMessage
            </div>
        }
        <form asp-action="UploadSpeaker" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label cust-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label cust-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label cust-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRecorded" class="control-label cust-label"></label>
                <input asp-for="DateRecorded" class="form-control" />
                <span asp-validation-for="DateRecorded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadDate" class="control-label cust-label"></label>
                <input asp-for="UploadDate" class="form-control" readonly/>
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerStatus" class="control-label cust-label"></label>
                <select asp-for="SpeakerStatus" class="form-drop-down form-select" aria-required="true">
                    <option default id="Active">Active</option>
                    <option default id="Disabled">Disabled</option>
                </select>
                <span asp-validation-for="SpeakerStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visibility" class="control-label cust-label"></label>
                <select asp-for="Visibility" class="form-drop-down form-select" aria-required="true">
                    <option default id="Private">Private</option>
                    <option default id="Universal">Universal</option>
                </select>
                <span asp-validation-for="SpeakerStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FormFile" class="control-label cust-label">Upload File:</label>
                <input type="file" name="FormFile" class="form-control" id="FormFile" />
            </div>
            <div class="form-group">
                <a href="@Url.Action("ViewSpeakers", "Admin")" class="btn btn-secondary edit-btn">Back</a>
                <input type="submit" value="Submit Upload" class="btn btn-primary edit-btn" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
