@using Microsoft.AspNetCore.Identity
@using os.Areas.Identity.Data
@using os.Services
@using os.Models
@inject UserManager<AppUser> UserManager
@inject DbConnectionService DbConnectionService

@{
    string? userid = User?.Identity?.IsAuthenticated == true ? UserManager.GetUserId(User) : null;
    string? role = "";
    if (userid != null)
    {
        AppUser user = DbConnectionService.GetUserDetailsById(userid);
        role = user.UserRole;
    }
}

<h1 class="text-center margin-top-120">Administration Home</h1>
<p class="text-center">Welcome @(User?.Identity?.IsAuthenticated == true ? UserManager.GetUserName(User) : "").</p>
<p class="text-center">Your current role is: @role</p>

<div class="outer-container">
    <div class="container-row">
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ViewSpeakers" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Redirects to manage speakers page."><img class="btn-img" width="150" src="~/img/speakers.svg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Manage Speakers</span>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageAccounts" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Redirect to the manage users page."><img class="btn-img" width="150" src="~/img/group.svg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Manage Users</span>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ViewLogs" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View all event logs of the system."><img class="btn-img" width="150" src="~/img/security.svg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">View Security Logs</span>
            </div>
        </div>
    </div>
</div>