@*_Layout.cshtml *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The Living in the Solution Group of Atlanta, GA's recordings of Alcoholics Anonymous speakers.">
    <meta name="keywords" content="AA, A.A., Alcoholics Anonymouse, Living in the Solution, Atlanta, Georgia, GA, Speakers, Speaker Tapes, CD's, Recordings, Freedom from Alcohol">
    <meta name="author" content="Magnadigi.com: Russell Steele">
    <meta name="robots" content="index,follow">
    <link rel="canonical" href="https://oursolution.io" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"] - OurSolution.io" />
    <meta property="og:description" content="The Living in the Solution Group of Atlanta, GA's recordings of Alcoholics Anonymous speakers." />
    <meta property="og:url" content="https://oursolution.io/" />
    <meta property="og:site_name" content="OurSultion.io - The Living in the Solution Group's Speaker Recordings" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/os.styles.css" asp-append-version="true" />
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 nav-custom navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img height="25" src="~/img/gcai_logo_light.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
@*                      <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="site-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="bottom: 0px; position:fixed;">
        <div c style="padding-left:20px;">
            &copy; 2024 - OurSolution.io - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
