@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<center><h2 class="light-txt">Manage your account</h2></center>

<div>

    <hr />
    <div class="account-management-nav">
            <partial name="_ManageNav" />
    </div>
    <div class="row">
            @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
