@using Microsoft.AspNetCore.Identity
@using os.Areas.Identity.Data
@using os.Services
@using os.Models
@inject UserManager<AppUser> UserManager
@inject DbConnectionService DbConnectionService
@{
    string? userid = User?.Identity?.IsAuthenticated == true ? UserManager.GetUserId(User) : null;
    string? role = "";
    if (userid != null)
    {
        AppUser user = DbConnectionService.GetUserDetailsById(userid);
        role = user.UserRole;
    }
    if (ViewBag.StatusMessage != null)
    {
        <div class="alert alert-info">
            @ViewBag.StatusMessage
        </div>
    }    
}
<audio id="audioPlayer" controls hidden></audio>
@* <center><h2 class="light-txt">Private Speakers</h2></center> *@
<div class="container-row">
    <div class="player-container">
        <div class="status-window">
            <!-- Status Message Row -->
            <div class="status-message-row">
                <span class="status-label">Status: </span><span class="status-message" id="status-message">Stopped</span>
            </div>
            <!-- Speaker Name Row -->
            <div class="speaker-name-row">
                <span class="status-label">Speaker: </span><span class="speaker-name" id="speaker-name"></span>
            </div>
            <!-- Play Status Bar -->
            <div class="play-status-bar" id="play-status-bar">
                <div class="play-status-progress" id="play-status-progress"></div>
                <div class="play-status-handle" id="play-status-handle"></div>
            </div>
            <div class="time-display">
                <span id="current-time">00:00</span> / <span id="total-duration">00:00</span>
            </div>
        </div>
        <div class="player-controls">
            <button id="previous" class="btn btn-player next-previous"><img class="player-icon" src="~/img/previous.png" /></button>
            <button id="play" class="btn btn-player play"><img class="player-icon" src="~/img/play.png"/></button>
            <button id="pause" class="btn btn-player pause"><img class="player-icon" src="~/img/pause.png" /></button>
            <button id="stop" class="btn btn-player stop"><img class="player-icon" src="~/img/stop.png" /></button>
            <button id="next" class="btn btn-player next-previous"><img class="player-icon" src="~/img/next.png" /></button>
        </div>
        <!-- Search Input Box -->
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Filter by No. or Speaker..." class="search-input">
            <img src="~/img/search.svg" class="search-img" />
        </div>
        <div class="player-headings light-txt">
            <div class="player-id-column">
                <span class="player-heading-txt">Num.</span>
            </div>
            <div class="player-speaker-column">
                <span class="player-heading-txt">Speaker</span>
            </div>
            <div class="player-description-column">
                <span class="player-heading-txt">Description</span>
            </div>
        </div>
        <div class="speaker-container">
            <div class="file-list-container" id="fileList">
                <!-- File list will be populated here -->
            </div>
        </div>
    </div>
</div>
<script src="~/js/insideSpeakerClient.js"></script>