@{
    ViewData["Title"] = "Your account is pending aproval.";
}
<h1 class="text-center text-danger  margin-top-120">@ViewData["Title"]</h1>
<p class="text-center ">An authorization email has been sent to the sytems administrator to assign your system role and approve your account.</p>
