@model os.Controllers.HomeController
@{
    ViewData["Title"] = "Shared Member Login";
}

@if (ViewBag.StatusMessage != null)
{
    <div class="alert alert-info">
        @ViewBag.StatusMessage
    </div>
}

<div class="logo-container">
    <center><span class="presentedby-txt">The Living in the Solution Group.</span></center>
    <center><span class="presentedby-txt">Atlanta, Ga.</span></center>
</div>
<div class="intro-message light-txt">
    <p class="message-txt">A member-to-member shared password is required to access speaker recordings.</p>
</div>
<div class="container-column">
    <div class="login-container-row">
        <div class="login-container-column">
            <section>
                <form asp-controller="Home" asp-action="Index" method="post">
                    <div class="login-logo light-txt">
                        @* <img style="max-width:150px;" class="ai-logo" src="~/img/gcai_logo_light.png" /> *@
                        <center>@ViewData["Title"]</center>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3" hidden>
                        <input name="email" class="form-control" autocomplete="username" aria-required="true" placeholder="shareduser@oursolution.io" value="shareduser@oursolution.io" hidden />
                        <label hidden>Email</label>
                        <span class="text-danger" hidden></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="******" />
                        <label>Password</label>
                        <span class="text-danger"></span>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="btn-primary">Listen</button>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <div class="light-txt margin-top-20">
        <span class="heading-links">Meeting Locations</span><br>
        <div class="location-text hidden" id="location_text">           
            Men who have a desire to stop drinking are welcome to join us.</br>
            <div class="meeting-card-container">
                <div class="meeting-card">
                    <div>
                        <span class="meeting-name">Living in the Solution</span><br>
                        Saturday 9:00 AM – 10:00 AM EDT<br>
                    </div>
                    <a href="https://maps.app.goo.gl/TzY8UoXo7Hhga9e37" target="_blank">
                        Saint Luke's Lutheran Church<br>
                        3264 Northside Pkwy NW<br>
                        Atlanta, GA 30327<br>
                    </a>
                </div>            
            </div>
            <div class="meeting-card-container">
                <div class="meeting-card">
                    <div>
                        <span class="meeting-name">Living in the Solution North</span><br>
                        Wednesday 7:00 PM – 8:00 PM EDT<br>
                    </div>
                    <div class="">
                        <a href="https://maps.app.goo.gl/DxqguX3fGuGfLPdS7" target="_blank">
                            Roswell United Methodist Church<br>
                            814 Mimosa Blvd<br> 
                            Roswell, GA 30075<br>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="light-txt">
        <span class="heading-links">Helpful Links</span><br>
        <div class="meeting-card-container">            
             <div class=" " >
                <div class="helpful-links-text helpful-links-card hidden" id="helpful_links_text">
                    <a href="https://www.aa.org/aa-gso">AA General Service Office</a></br>
                    <a href="https://atlantaaa.org/">Atlanta Central Office</a> / <a href="https://atlantaaa.org/meetings/">Atlanta Area Meetings</a></br>
                    <a href="https://play.google.com/store/apps/details?id=com.bigbook3&hl=en_US">Everything AA App</a></br>
                    <a href="https://www.recoveryspeakers.com/">RecoverySpeakers.com</a></br>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_GoogleAnalytics" />
    <script src="~/js/fadeIn.js"></script>
}
