@{
    ViewData["Title"] = "OurSolution";
}

<div class="text-center">
    <h1 class="display-4">OurSolution.io</h1>
    <p>Learn about <a href="https://outsolution.io/about">OurSolution.io</a>.</p>
</div>
