@{
    ViewData["Title"] = "Terms / Privacy Policy";
}
<div class="light-txt">
    <center>
        <h1>@ViewData["Title"]</h1>
    </center>
    <div class="text-align-left">
        <p>If you have questions or concerns that extend beyond the statements made in this document, we would appreciate having the opportunity to address them. Please feel free to email admin@oursolution.io, and we will do our best to be of service.</p>
    </div>
    <div class="text-align-left">
        <p>This website and those responsible for creating it do not necessarily agree with or condone the opinions of the speakers or any provider of the content. You are invited to take the information you find useful and leave the rest.</p>
    </div>
    <div class="text-align-left">
        <p>We are happy to exclude any speaker who wishes to have their recording removed.</p>
    </div>
    <div class="text-align-left">
        <p>This is a private site. We do not grant the right to copy, reproduce, or redistribute any of the property made available on oursolution.io.</p>
    </div>
    <div class="text-align-left">
        <p>The shared password for this site may be obtained in person at one of our meetings or directly through one of our members if you happen to know one. If you are one of our members, you agree to protect the anonymity of the speakers on this site. Refrain from sharing the shared password with anyone who is not believed to be capable of respecting this tenet.</p>
    </div>
    <div class="text-align-left">
        <p>If you believe that the shared password has been compromised, please send an email to admin@oursolution.io.</p>
    </div>
    <div class="text-align-left">
        <p>This website has taken industry-standard precautions to protect the data from this site (excluding the use of a single shared password).</p>
    </div>
    <div class="text-align-left">
        <p>We do not sell or distribute information about the users of this site.</p>
    </div>
    <div class="text-align-left">
        <p>Site administrators are subject to logging while using the site. Additionally, the site will retain information specific to the administration services they provide like their email and password.</p>
    </div>
    <div class="text-align-left">
        <p>We have an algorithm in place to ensure that uploaded speakers' last names cannot be revealed through the user interface. Administrators will refrain from using any identifiable information in the descriptions for the speakers.</p>
    </div>
</div>
