@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmation";
}
<div class="margin-top-120">
    <center>
        <h1 class="light-txt">@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <p class="light-txt message-txt">You may now <strong><a href="/Identity/Account/Login">Login</a></strong>.</p>
    </center>
</div>