@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation";
}
<div class="margin-top-120">
<center>
<h1 class="light-txt">@ViewData["Title"]</h1>
        <p class="light-txt message-txt">
        Please check your email inbox and junkmail folder to confirm your account.
</p>
</center>
</div>



