@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation";
}
<div class="margin-top-120">
<center>
<h1>@ViewData["Title"]</h1>
<p>
        Please check your email to confirm your account.
</p>
</center>
</div>



