@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="margin-top-120">
    <center>
        <h1 class="light-txt">@ViewData["Title"]</h1>
        <p class="light-txt message-txt">
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </center>
</div>