html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
}
footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
    background: white;
    border: 1px solid;
    line-height: 18px !important;
}
.login-container-row {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-container-column {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    box-shadow: 0 0 10px #333;
    border-radius: 15px 15px 15px 15px;
    border: 0.5px solid #0d1725;
    width: 367px;
    background-color: rgba(92, 107, 115, .25);
}
.edit-container-row {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}
.edit-btn{
    margin-top:10px;
    margin-left:5px;

}
.cust-label {
    font-weight: 510;
    padding: 2.5px;
}

.edit-container-column {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    box-shadow: 0 0 10px #333;
    border-radius: 15px 15px 15px 15px;
    border: 0.5px solid #0d1725;
    width: 367px;
    background-color: rgba(92, 107, 115, .25);
    padding: 10px;
}
.outer-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.btn-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 2px solid;
    border-color: black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4);
    min-width: 125px;
    margin: 10px;
}
.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-img {
    max-width: calc(5vw + 40px);
}

.btn-label {
    font-size: 20px;
    padding: 5px;
}
.form-floating {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

.checkbox {
    margin-left: 5%;
    padding-left: 5px;
}

.login-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d1725;
    border-radius: 10px;
    height: 50px;
    max-width: 90%;
}

.login-links {
    margin-left: 5%;
    margin-top: 5%;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
    opacity: .8;
    font-weight: 400 !important;
    font-size: 1.1rem !important;
}

    .login-links a:hover {
        color: black !important;
    }

.login-logo {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 2.5rem;
}

.text-danger {
    color: #d54141 !important;
    font-weight: 510 !important;
    font-size: 1.1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.margin-top-120 {
    margin-top: 120px;
}
.search-img {
    padding-left: 7.5px;
    padding-bottom: 15px;
    transform: translate3d(-45px,8px,0px);

}
.search-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 94vw;
    height: 40px;
}
.search-row-btn {
    margin-left: 5px;
    max-height: 35px;
}
.cust-btn {
    padding-top: 8px;
    font-weight: 510;
    border-radius: 5px;
    height: 40px;
}
.search-colum-1 {
    padding-left: 10px;
    display: flex;
    justify-content: left;
    height: 38px;
}

.search-colum-2 {
    display: flex;
    justify-content: right;
    max-width: fit-content;
}

.search-colum-3 {
    display: flex;
    margin-right:10px;
}
text-cetner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-wrapper {
    overflow: auto;
    border-radius: 10px;
    border: .2px solid rgba(0,0,0,.3);
    margin-top: 5px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0 !important;    
}
thead th {
    background-color: #fcb14f75 !important;
    font-weight: 600;
    font-size: 16px;
}
th, td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.la{
    text-align: left;
}
.ca{
    text-align: center;
}
.pl20{
    padding-left:20px !important;
}
.ml20{
    margin-left:20px;
}

.hidden {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}
/*Player*/
.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.player-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    border: 2.4px solid #0d172555;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #333;
    background-image: radial-gradient(whitesmoke, #475569);
}
.status-window {
    display: flex;
    flex-direction: column;
    text-align:left;
    padding: 10px;
    border: 0.5px solid #0d1725;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 75px; /* Minimum height */
    background-color: #f9f9f9; /* Optional: Add a background color */
}
.player-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align:top;
    width:100%;
    height:50px;
    padding-left:10px;
    padding-right:10px;
}

/* Style for the scrollable container */
.speaker-container {
    max-height: 350px; /* Set the maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    background-color: #f9f9f9; /* Optional: Add a background color */
    border-radius: 10px 10px 10px 10px;
}

.status-message-row{
    
}

/* Style for the search input box */
.search-container {
    display: flex;
    padding: 7.5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-input {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
    min-width: 100%;
}

    .search-input:focus {
        border-color: #007bff; /* Highlight the border when focused */
    }

.player-headings{
    display:flex;
    flex-direction:row;
    font-weight: 505;
}
.player-id-column {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    text-align:center;
    margin-left: 10px;
}
.player-speaker-column {
    display: flex;
    flex-direction: column;
    width: 220px;
    text-align: left;
    padding-left: 25px;
}
.player-uploaded-column {
    display: flex;
    flex-direction: column;
    width: 80px;
}
.file-list-container {
    border-radius: 10px 10px 10px 10px;
}

.speaker-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

    .speaker-row:hover {
        background-color: #f0f0f0; /* Light gray background on hover */
    }

.speaker-id-column {
    flex: 1;
    max-width: 50px;
    text-align: center;
}

.speaker-name-column {
    flex: 1;
    text-align: left;
    width: 250px;
    padding-left: 25px;
}
.speaker-talkdate-column {
    display: flex;
    flex: 1;
    text-align: center;
    padding-right: 0px;
    justify-content: right;
    margin-right: 10px;
}



.even-line {
    background-color: #f9f9f9;
}

.odd-line {
    background-color: #ffffff;
}
/* Play Status Bar */
.play-status-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd; /* Background color for the status bar */
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden; /* Ensure the progress bar doesn't overflow */
}

.play-status-progress {
    height: 100%;
    width: 0%; /* Initially set to 0% */
    background-color: #007bff; /* Progress bar color */
    transition: width 0.1s linear; /* Smooth transition for progress */
}

.status-message {
    transition: opacity 1s ease-in-out; /* Smooth transition for opacity changes */
}

.status-label {
    font-weight: 501;
}

.play-status-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
}

.play-status-progress {
    height: 100%;
    background-color: #007bff;
    width: 0%;
}

.play-status-handle {
    width: 15px;
    height: 15px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    top: -2.5px;
    left: 0;
    cursor: pointer;
}

.time-display {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}