@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0;800&display=swap');

:root {
    --dim-grey: #F7F9F9;
    --dark-grey: #555;
    --peach: #F3B391;
    --dark-purple: #170A1C;
    --persian-indigo: ##320D6D;
    --powder-blue: #BFDBF7;
    --cosmic-latte: #F9F5E3;
    --play-green: #4D8B31;
    --next-previous: #2E86AB;

    --stop-red: #A81121;
    --rich-black: #101419;
    --electric-blue: #3E78B2;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    font-family: 'Spectral', serif;
    font-weight: 200;
    font-style: normal;
}
.site-container {
    max-width: 96vw;
    margin-left: auto;
    margin-right: auto;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
a {
    color: #0778fd !important;
}
.nav-custom {
    backdrop-filter: blur(21px) saturate(118%);
    -webkit-backdrop-filter: blur(21px) saturate(118%);
    background-color: rgba(99, 99, 100, 0.21);
    border-radius: 0px 0px 12px 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #e6e6e6;
}
.nav-link{
    padding-top: 10px;
    color: #ddd !important;
    font-size: 16px;
    font-weight: 500;
}
.light-txt {
    color: var(--dim-grey) !important;
}
.navbar-light .navbar-toggler {
    color: rgba(252, 247, 247, 0.15);
    border-color: rgba(255,255,255,.1);
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 .1rem;
}
.dark-txt {
    color: rgba(99, 99, 100, 0.81) !important;
}
.btn-player {
    backdrop-filter: blur(5px) saturate(118%);
    -webkit-backdrop-filter: blur(5px) saturate(118%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #e6e6e6;
    height: 50px;
    font-weight: 300;
    font-size: 16px;
    margin-left: -2.5px;
}
.btn-primary {
    backdrop-filter: blur(5px) saturate(118%);
    -webkit-backdrop-filter: blur(5px) saturate(118%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #e6e6e6;
    height: 50px;
    min-width: 90%;
    font-weight: 501;
    font-size: 20px;

}
.btn-primary:hover {
    backdrop-filter: blur(21px) saturate(118%);
    -webkit-backdrop-filter: blur(21px) saturate(118%);
    background-color: rgba(99, 99, 100, 0.21);
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgba(255, 255, 255, 0.425);
    color: #e6e6e6;
}
    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #0d6efd55;
        border-color: #0d6efd;
        opacity: .01;
    }
    disabled{
        opacity: .01 !important;
    }
.btn-outline-secondary {
    border-color: #6c757d;
    font-weight: 501;
}
    .btn-outline-secondary:hover {
        color: #ffffffa6 !important;
        border-color: #6c757d;
        font-weight: 501;
    }

.management-btn{
    padding-top: 2px;
}
body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    background-color: #111927;
    background-image: radial-gradient(at 47% 33%, hsl(220.91, 73%, 20%) 0, transparent 59%), radial-gradient(at 82% 65%, hsl(218.18, 43%, 34%) 0, transparent 55%);
    color: unset;
}
footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
    background: white;
    border: 1px solid;
    line-height: 18px !important;

    backdrop-filter: blur(21px) saturate(118%);
    -webkit-backdrop-filter: blur(21px) saturate(118%);
    background-color: rgba(99, 99, 100, 0.21);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #e6e6e6;
}
.login-container-row {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-container-column {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(21px) saturate(137%);
    -webkit-backdrop-filter: blur(21px) saturate(137%);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
    padding-right: 5px;
    padding-left: 5px;
}
.edit-container-row {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}
.edit-btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-right: 2.5px;
    vertical-align: middle;
    backdrop-filter: blur(5px) saturate(118%);
    -webkit-backdrop-filter: blur(5px) saturate(118%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #e6e6e6;
    height: 40px;
    width: 100px;
    font-weight: 301;
    font-size: 18px;
    text-decoration: none;
    opacity: 1;
}

    .edit-btn:hover {
        opacity: .85;
        color: #e6e6f9;
    }
.cust-label {
    font-weight: 510;
    padding: 2.5px;
    color: #ffffffa6 !important;
}
.details-img {
    min-height: 125px;
}

.edit-container-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(21px) saturate(137%);
    -webkit-backdrop-filter: blur(21px) saturate(137%);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
}
.outer-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.container-column {
    display:flex;
    flex-direction: column;
    text-align:center;
}
.btn-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 125px;
    margin: 10px;
    backdrop-filter: blur(21px) saturate(137%);
    -webkit-backdrop-filter: blur(21px) saturate(137%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
}
.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-img {
    max-width: calc(5vw + 40px);
}

.btn-label {
    font-size: 20px;
    padding: 5px;
}
.form-floating {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

.checkbox {
    margin-left: 5%;
    padding-left: 5px;
}

.login-button {
    max-width: 90%;
    text-align:center;
    margin-left:18.5px;
}

.login-links {
    margin-left: 5%;
    margin-top: 5%;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
    opacity: .8;
    font-weight: 400 !important;
    font-size: 1.1rem !important;
}

    .login-links a:hover {
        color: #007bff !important;
    }

.login-logo {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 2rem;
    color: var(--dim-grey);
}
.btn-primary-reset-pass {
    backdrop-filter: blur(5px) saturate(118%);
    -webkit-backdrop-filter: blur(5px) saturate(118%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #e6e6e6;
    height: 50px;
    min-width: 258px;
    font-weight: 501;
    font-size: 20px;
    max-width: 90%;
    text-align: center;
}
.text-danger {
    color: #d54141 !important;
    font-weight: 510 !important;
    font-size: 1.1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.margin-top-120 {
    margin-top: 120px;
}
.search-img {
    padding-left: 7.5px;
    padding-bottom: 15px;
    transform: translate3d(-54px,8px,0px);
    opacity: .25;

}
.search-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}
.search-row-btn {
    margin-left: 5px;
    max-height: 35px;
}
.cust-btn {
    padding-top: 8px;
    font-weight: 510;
    border-radius: 5px;
    height: 40px;
    color: #ffffffa6 !important;
}
.search-colum-1 {
    padding-left: 10px;
    display: flex;
    justify-content: left;
    height: 38px;
}

.search-colum-2 {
    display: flex;
    justify-content: right;
    max-width: fit-content;
}

.search-colum-3 {
    display: flex;
}
text-cetner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-wrapper {
    overflow: auto;
    border-radius: 10px;
    border: .2px solid rgba(0,0,0,.3);
    margin-top: 5px;
}
table {
    border-spacing: 0;
    border-collapse: separate;
    border-style: hidden;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0 !important;
    backdrop-filter: blur(21px) saturate(118%);
    -webkit-backdrop-filter: blur(21px) saturate(118%);
    background-color: rgba(99, 99, 100, 0.21);
    border-radius: 12px 12px 12px 12px;
    border: .5px solid rgba(255, 255, 255, 0.0125);
    color: var(--dim-grey);
    font-weight: 600;
}
.table {
    --bs-table-bg: #ffffffa6 !important;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #fff;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.025);
    --bs-table-active-color: #fff;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #fff;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
}
.table > :not(caption) > * > * {
    color: var(--dark-grey);
}
thead th {
    font-weight: 501;
    font-size: 14px;
    color: #ffffffa6 !important;
    background-color: rgba(99, 99, 100, 0.91) !important;
}
th, td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
td{
    text-align: left;
}


.la{
    text-align: left;
}
.ca{
    text-align: center;
}
.pl20{
    padding-left:20px !important;
}
.ml20{
    margin-left:20px;
}

.hidden {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}

/*Player*/
.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(21px) saturate(137%);
    -webkit-backdrop-filter: blur(21px) saturate(137%);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    border: .25px solid var(--electric-blue);
    padding-right: 5px;
    padding-left: 5px;
}

.intro-message {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;

}
.status-window {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    border: 2.5px solid var(--electric-blue);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 75px; /* Minimum height */
    background-color: #f9f9f9; /* Optional: Add a background color */
}
.player-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align:top;
    width:100%;
    padding-left:15px;
    padding-right:15px;
    padding-top: 8px;
}

/* Style for the scrollable container */
.speaker-container {
    max-height: 350px;
    overflow-y: auto;
    border: 2.5px solid var(--electric-blue);
    background-color: #f9f9f9;
    border-radius: 10px 10px 10px 10px;
}

.status-message-row{
    color: black;
}

.search-container {
    display: flex;
    padding: 7.5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-input {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
    min-width: 100%;
    border: 2.5px solid var(--electric-blue);
}


.player-headings{
    display:flex;
    flex-direction:row;
    font-weight: 505;
}
.player-id-column {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    text-align:center;
    margin-left: 10px;
}
.player-speaker-column {
    display: flex;
    flex-direction: column;
    width: 220px;
    text-align: left;
    padding-left: 25px;
}
.player-uploaded-column {
    display: flex;
    flex-direction: column;
    width: 80px;
}
.file-list-container {
    border-radius: 10px 10px 10px 10px;
    color: black;
}

.speaker-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

    .speaker-row:hover {
        background-color: #f0f0f0; /* Light gray background on hover */
    }

.speaker-id-column {
    flex: 1;
    max-width: 50px;
    text-align: center;
}

.speaker-name-column {
    flex: 1;
    text-align: left;
    width: 250px;
    padding-left: 25px;
}
.speaker-talkdate-column {
    display: flex;
    flex: 1;
    text-align: center;
    padding-right: 0px;
    justify-content: right;
    margin-right: 10px;
}

.even-line {
    background-color: #f9f9f9;
}

.odd-line {
    background-color: #ffffff;
}
/* Play Status Bar */
.play-status-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd; /* Background color for the status bar */
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden; /* Ensure the progress bar doesn't overflow */
}

.play-status-progress {
    height: 100%;
    width: 0%; /* Initially set to 0% */
    background-color: #007bff; /* Progress bar color */
    transition: width 0.1s linear; /* Smooth transition for progress */
}

.status-message {
    transition: opacity 1s ease-in-out; /* Smooth transition for opacity changes */
}
.speaker-name-row {
    transition: opacity 1s ease-in-out; /* Smooth transition for opacity changes */
    color: black;
}

.status-label {
    font-weight: 501;
}

.play-status-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
}

.play-status-progress {
    height: 100%;
    background-color: #007bff;
    width: 0%;
}

.play-status-handle {
    width: 15px;
    height: 15px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    top: -2.5px;
    left: 0;
    cursor: pointer;
}

.time-display {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/*Account Management*/
.account-management-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.account-management-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    backdrop-filter: blur(21px) saturate(137%);
    -webkit-backdrop-filter: blur(21px) saturate(137%);
    background-color: rgba(255, 255, 255, 0.015);
    border: .5px solid rgba(255, 255, 255, 0.125);
    border-radius: 5px;
    margin: 5px;
    font-weight: 501;
    color: #ffffffa6;
}
.account-management-col:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(21px) saturate(137%);
    -webkit-backdrop-filter: blur(21px) saturate(137%);
    background-color: rgba(255, 255, 255, 0.1);
    border: .5px solid rgba(255, 255, 255, 0.125);
    border-radius: 5px;
    margin: 5px;
    font-weight: 501;
    color: #ffffffa6;
}

.member-settings-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 350px;
    width: 365px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    backdrop-filter: blur(21px) saturate(137%);
    -webkit-backdrop-filter: blur(21px) saturate(137%);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    border: 1.5px solid rgba(255, 255, 255, 0.125);
    padding-right: 5px;
    padding-left: 5px;

}
.form-control::file-selector-button {
    background-color: #6c757d85;
    color: var(--dark-grey);
    font-weight: 600 !important;

}
.account-management-btn{
    display:flex;
    justify-content: center;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
.del-data-container {
    padding:20px;
    padding-top: 0px;

}
.logo-large{
    width: 75vw;
}
.message-txt {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: unset;
    margin-bottom: unset;
}
.presentedby-txt {
    font-family: 'Playwrite CU', sans-serif;
    color: var(--powder-blue);
    font-size: calc(1vw + 16px);
    line-height: calc(8vw);
}
@media screen and (max-width: 800px) {
    .container-row {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-container {
        width: unset;
    }
    .navbar-light .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgba(255, 255, 255, 0.45);
        border-width: .15px;
    }
    .navbar-toggler {
        backdrop-filter: blur(21px) saturate(137%);
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.play {
    background-color: var(--play-green);
    color: var(--rich-black);
    border-color: rgba(255, 255, 255, 0.45);

}
    .play:hover {

        opacity: .75;
    }

.pause {
    background-color: var(--cosmic-latte);
    color: var(--rich-black);
    border-color: rgba(255, 255, 255, 0.45);

}
    .pause:hover {
        opacity: .8;
    }

.stop {
    background-color: var(--stop-red);
    color: var(--rich-black);
    border-color: rgba(255, 255, 255, 0.45);

}
    .stop:hover {
        opacity: .75;
    }

.next-previous {
    background-color: var(--next-previous);
    color: var(--rich-black);
    border-color: rgba(255, 255, 255, 0.45);

}
    .next-previous:hover {
        background-color: var(--next-previous);
        opacity: .65;
    }


.player-icon {
    max-width: 35px;
    color: var(--rich-black);
}
